* {
  max-width: 100%;
  list-style-type: none;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

body,
html {
  scroll-behavior: smooth;
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    width: 91.7vw;
  }
}
@media screen and (min-width: 320px) {
  .container {
    width: 89.33vw;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  font-weight: 700;
  font-size: 24px;
  font-family: "Raleway";
  line-height: 0.3;
  color: #2196F3;
  text-align: left;
  letter-spacing: 3%;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.heading:hover {
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
  margin-left: 5px;
}
.heading__studio {
  color: #212121;
}

.menu {
  display: none;
}

.contacts {
  display: none;
}

.openmenu {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.openmenu__svg {
  width: 24px;
  height: 24px;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
}
.burger.is-open {
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.closemenu {
  display: block;
  width: 12.5vw;
  height: 5.556vh;
  margin-left: auto;
  margin-top: 3.125vw;
  margin-right: 4.688vw;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.closemenu__svg {
  width: 7.5vw;
  height: 7.5vh;
}

.menuburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10.938vw;
  margin-top: 2.5vw;
  margin-left: 6.25vw;
}
.menuburger__link {
  height: 48px;
  font-weight: 500;
  font-size: 40px;
  font-family: "Roboto";
  line-height: 1;
  color: #212121;
  text-align: left;
  letter-spacing: 3%;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.menuburger__link:hover {
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
  color: #2196F3;
  margin-left: 5px;
}

.tie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10vw;
  margin-top: 75.625vw;
  margin-left: 6.25vw;
}
.tie__contact {
  font-weight: 500;
  font-size: 24px;
  font-family: "Roboto";
  line-height: 1;
  color: #757575;
  text-align: left;
  letter-spacing: 3%;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.tie__contact:hover {
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
  color: #2196F3;
  margin-left: 5px;
}

.stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20vw;
  margin-left: 6.25vw;
  gap: 3.125vw;
}
.stories__social {
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1;
  color: #2196F3;
  text-align: left;
  letter-spacing: 3%;
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.stories__social:hover {
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
  margin-top: -5px;
  color: rgba(33, 149, 243, 0.6901960784);
}
.stories__social--line {
  border-right: 1px solid #212121;
  padding-right: 3.125vw;
}

@media (min-width: 375px) {
  .tie {
    margin-top: 54.533vw;
  }
}
@media (min-width: 425px) {
  .closemenu {
    width: 9.412vw;
    height: 9.412vw;
    margin-top: 2.353vw;
    margin-right: 3.529vw;
  }
  .menuburger {
    gap: 8.235vw;
    margin-top: 1.882vw;
    margin-left: 9.412vw;
  }
  .menuburger__link {
    height: 11.294vw;
  }
  .tie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10vw;
    margin-top: 71.059vw;
    margin-left: 9.412vw;
  }
  .tie__contact {
    font-weight: 500;
    font-size: 24px;
    font-family: "Roboto";
    line-height: 0.2;
    color: #757575;
    text-align: left;
    letter-spacing: 3%;
  }
  .stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15.059vw;
    margin-left: 9.412vw;
    gap: 2.353vw;
  }
  .stories__social {
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 1;
    color: #2196F3;
    text-align: left;
    letter-spacing: 3%;
  }
  .stories__social--line {
    padding-right: 2.353vw;
  }
}
@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 281px;
    gap: 52px;
  }
  .menu__links {
    font-weight: 500;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 1;
    color: #212121;
    text-align: left;
    letter-spacing: 3%;
  }
  .contacts {
    display: block;
    width: 136px;
  }
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 1;
    color: #212121;
    text-align: left;
    letter-spacing: 3%;
  }
  .contacts__link--svg {
    fill: #212121;
    background-color: #212121;
    width: 24px;
    height: 24px;
  }
  .openmenu {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */