:root {
    --lightgrey: #212121;
    --grey: #757575;
    --white: #ffff;
    --blue: #2196F3;
    --black: #000000;
    --darkgrey: #2F303A;
    --dirtywhite: #ECECEC;
    --creamwhite: #F5F4FA;
}

/* header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 80px;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav-item {
    margin: 0 15px;
}

.header-nav-link {
    text-decoration: none;
    color: var(--black);
}

.header-a {
    text-decoration: none;
    padding: 0 10px;
}

/* main */

.container-section {
    max-width: 1500px;
    max-height: 600px;
    background-color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 110px;
}

/* ефективні рішення для вашого бізнесу */
.advertisement {
    font-weight: black;
    text-align: center !important;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6%;
    color: var(--white);
}

#button {
    background-color: var(--blue);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 6%;
    border-radius: 4px;
    border: none;
    padding: 0 20px;
    margin-top: 20px;
}

.main-container {
    max-width: 1170px;
    max-height: 98px;
    display: flex;
    justify-content: space-around;
    margin: 94px 0;
    flex-wrap: wrap;
}

.advantage {
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
}

/* наші вмяння,переваги */
.advantages {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

/* розпис вмінь,переваг */
.paragraf {
    font-size: 14px;
    text-align: left;
    color: var(--grey);
}

.my-text {
    display: flex;
    justify-content: center;
}

/* заголовки */
.headers {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    padding-top: 94px;
}

/* чим займаємося */

.container-box {
    flex-wrap: wrap;
    padding-bottom: 94px;
    justify-content: center;
    width: 1600px;
}

.headers-box {
    font-weight: bold;
    font-size: 36px;
    padding-top: 94px;
}

.box {
    margin: 0 30px;
}

/* наша група */

.container-group {
    background-color: var(--creamwhite);
    padding-bottom: 94px;
    justify-content: center;
    width: 1600px;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
}

.person {
    text-align: center;
    margin: 0 30px;
    background-color: var(--white);
    width: 270px;
    height: 368px;
}

/* імя людей */
.name-person {
    font-weight: Medium;
    font-size: 16px;
}

/* чим займаються */
.make {
    font-size: 14px;
}

/* footer */

.footer-container {
    background-color: var(--darkgrey);
    width: 1600px;
    height: 252px;
    display: flex;
    flex-direction: column;
}

.WebStudio {
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    line-height: auto;
    letter-spacing: 3%;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    /* width: 1600px;
    height: 2346px; */
}

img {
    margin-right: 30px;
}

.blue {
    color: var(--blue);
}

.white {
    color: var(--white);
}

/* PORTFOLIO */

.filters {
    text-align: center;
}

.filter-button-all {
    font-family: "Roboto", sans-serif;
    background-color: #2196F3;
    color: #ffff;
    border-radius: 4px;
    border: none;
    padding: 6px 25px;
    font-size: 16px;
    font-weight: 500;
}

.filter-button {
    font-family: "Roboto", sans-serif;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
}
