:root {
    --lightgrey: #212121;
    --grey: #757575;
    --white: #ffff;
    --blue: #2196F3;
    --black: #000000;
    --darkgrey: #2F303A;
    --dirtywhite: #ECECEC;
    --creamwhite: #F5F4FA;
}

#group .timetable {
    display: flex;
    flex-wrap: wrap;
}

#group {
    background-color: whitesmoke;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.person {
    text-align: center;
}

#button {
    background-color: blue;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

#section {
    background-color: gray;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}