.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.heading {
    @include text-style(700, calc(24px + 1vw), 'Raleway', 0.3, #2196F3, left);
    transition: 250ms linear;

    &:hover {
        margin-top: -5px;
        transition: 250ms linear;
    }

    &__studio {
        color: #212121;
    }
}

.menu {
    display: none;
}

.contacts {
    display: none;
}

.openmenu {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;

    &__svg {
        width: 24px;
        height: 24px;
    }
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 300ms linear;

    &.is-open {
        transition: 300ms linear;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.closemenu {
    display: block;
    width: 12.5vw;
    height: 5.556vh;
    margin-left: auto;
    margin-top: 3.125vw;
    margin-right: 4.688vw;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;

    &__svg {
        width: 7.5vw;
        height: 7.5vh;
    }
}

.menuburger {
    flex-direction: column;
    display: flex;
    margin-top: 2.5vw;
    margin-left: 6.25vw;
    gap: 10.938vw;

    &__link {
        height: 48px;
        @include text-style(500, calc(40px + 1vw), 'Roboto', 1, #212121, left);
        transition: 250ms linear;

        &:hover {
            margin-left: 5px;
            color: #2196F3;
            transition: 250ms linear;
        }
    }
}

.tie {
    position: absolute;
    bottom: 41.875vw;
    flex-direction: column;
    display: flex;
    margin-left: 6.25vw;
    gap: 10vw;

    &__contact {
        @include text-style(500, calc(24px + 1vw), 'Roboto', 1, #757575, left);
        transition: 250ms linear;

        &:hover {
            margin-left: 5px;
            color: #2196F3;
            transition: 250ms linear;
        }
    }
}

.stories {
    position: absolute;
    bottom: 15vw;
    display: flex;
    margin-left: 6.25vw;
    gap: 3.125vw;

    &__social {
        @include text-style(500, 14px, 'Roboto', 1, #2196F3, left);
        transition: 250ms linear;

        &:hover {
            margin-top: -5px;
            color: #2195f3b0;
            transition: 250ms linear;
        }

        &--line {
            padding-right: 3.125vw;
            border-right: 1px solid #212121;
        }
    }
}

@media (min-width: 425px) {
    .stories {
        &__social {
            @include text-style(500, 18px, 'Roboto', 1, #2196F3, left);
        }
    }
}

@media (min-width: 768px) {
    .header {
        height: 80px;
    }

    .heading {
        @include text-style(700, 24px, 'Raleway', 1, #2196F3, left);
    }

    .menu {
        display: flex;
        gap: 52px;

        &__links {
            @include text-style(500, 14px, 'Roboto', 1, #212121, none);
            font-family: 'Roboto', sans-serif;
            position: relative;
            transition: color 250ms linear;

            &:hover {
                color: #2196F3;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -32px;
                width: 100%;
                height: 4px;
                background-color: #2196F3;
                border-radius: 4px;
                transform: scaleY(0);
                transition: transform 250ms linear;
            }

            &:hover::after {
                transform: scaleY(1);
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        row-gap: 10px;


        &__link {
            @include text-style(500, 14px, 'Roboto', 1.1, #757575, left);
            transition: 250ms linear;

            &--svg {
                position: relative;
                left: -8px;
                top: 3px;
                width: 15px;
                height: 15px;
                fill: var(--color1);
                transition: 250ms linear;
            }

            &--svg:hover,
            &:hover {
                color: #2196F3;
                --color1: #2196F3;
                transition: 250ms linear;
            }
        }
    }

    .openmenu {
        display: none;
    }
}

@media (min-width: 1024px) {
    .contacts {
        flex-direction: row;
        gap: 30px;
    }
}

@media (min-width: 1920px) {
    .heading {
        @include text-style(700, 26px, 'Raleway', 1, #2196F3, left);
    }

    .menu {
        gap: 53px;
    }

    .contacts {
        &__link {
            &--svg {
                left: -10px;
            }
        }
    }
}