.border {
    border-bottom: 1px solid #ECECEC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.heading {
    @include text-style(700, 24px, 'Raleway', 0.3, #2196F3, left);

    &__studio {
        color: #212121;
    }
}

.menu {
    display: none;
}

.contacts {
    display: none;
}

.openmenu {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: none;

    &__svg {
        width: 24px;
        height: 24px;
    }
}

.burger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 300ms linear;

    &.is-open {
        transition: 300ms linear;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.closemenu {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 15px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: none;

    &__svg {
        width: 40px;
        height: 40px;
    }
}

.menuburger {
    flex-direction: column;
    display: flex;
    margin-left: 40px;
    gap: 35px;

    &__link {
        height: 48px;
        @include text-style(500, 40px, 'Roboto', 100%, #212121, left);
        transition: 250ms linear;

        &:hover {
            margin-left: 5px;
            color: #2196F3;
            transition: 250ms linear;
        }
    }
}

.tie {
    position: absolute;
    bottom: 134px;
    flex-direction: column;
    display: flex;
    margin-left: 40px;
    gap: 32px;

    &__contact {
        @include text-style(500, 24px, 'Roboto', 100%, #757575, left);
        transition: 250ms linear;

        &:hover {
            margin-left: 5px;
            color: #2196F3;
            transition: 250ms linear;
        }
    }
}

.stories {
    position: absolute;
    bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    gap: 10px;

    &__social {
        @include text-style(500, 18px, 'Roboto', 22px, #2196F3, left);
        transition: 250ms linear;

        &:hover {
            margin-top: -5px;
            color: #2195f3b0;
            transition: 250ms linear;
        }

        &--line {
            padding-right: 10px;
            border-right: 1px solid #212121;
        }
    }
}

.activelink {
    color: #2196F3 !important;

    &::after {
        transform: scaleY(1) !important;
    }
}

@media (min-width: 768px) {
    .header {
        height: 80px;
    }

    .heading {
        @include text-style(700, 24px, 'Raleway', 100%, #2196F3, left);
    }

    .menu {
        display: flex;
        gap: 52px;

        &__links {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-bottom: -16px;
            @include text-style(500, 14px, 'Roboto', 100%, #212121, none);
            transition: 250ms linear;

            &:hover {
                transition: 250ms linear;
                color: #2196F3;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -16px;
                width: 100%;
                height: 4px;
                background-color: #2196F3;
                border-radius: 4px;
                transform: scaleY(0);
                transition: transform 250ms linear;
            }

            &:hover::after {
                transform: scaleY(1);
            }

            &--finger {
                width: 16px;
                height: 16px;
                opacity: 0;
                transform: translateY(5px);
                transition: opacity 250ms linear, transform 250ms linear;
                pointer-events: none;
            }

            .menu__finger:hover &--finger {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        row-gap: 10px;

        &__link {
            @include text-style(500, 14px, 'Roboto', 100%, #757575, left);
            transition: 250ms linear;

            &--svg {
                position: relative;
                left: -8px;
                top: 3px;
                width: 15px;
                height: 15px;
                fill: var(--color1);
                transition: 250ms linear;
            }

            &--svg:hover,
            &:hover {
                color: #2196F3;
                --color1: #2196F3;
                transition: 250ms linear;
            }

            &--finger {
                width: 16px;
                height: 16px;
                position: relative;
                left: -62%;
                bottom: -16px;
                opacity: 0;
                transform: translateY(5px);
                transition: opacity 250ms linear, transform 250ms linear;
            }

            .contacts__finger:hover &--finger {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .openmenu {
        display: none;
    }
}

@media (min-width: 1024px) {
    .contacts {
        flex-direction: row;
        gap: 30px;
    }
}

@media (min-width: 1920px) {
    .heading {
        @include text-style(700, 26px, 'Raleway', 100%, #2196F3, left);
    }

    .menu {
        gap: 53px;
    }

    .contacts {
        &__link {
            &--svg {
                left: -10px;
            }
        }
    }
}