.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 8px;
    margin-top: 60px;
    margin-bottom: 40px;

    &__button {
        height: 38px;
        padding: 0 22px;
        border: none;
        border-radius: 4px;
        color: #212121;
        background-color: #F5F4FA;
        transition: 250ms linear;

        &:hover,
        &:active {
            color: #FFFFFF;
            background-color: #2196F3;
            transition: 250ms linear;
        }
    }
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    padding: 0;
}

.card {
    margin: 0;

    &__picture {
        img {
            height: 290px;
        }
    }

    &__description {
        position: relative;
        height: 294px;
        margin: 0;
        padding: 0;
        margin-top: -294px;
        padding: 67px 24px;
        background-color: #2196F3E5;
        @include text-style(400, 18px, 'Roboto', 28px, #FFFFFF, left);
        transition: 250ms linear;
        opacity: 0;
    }

    &__name {
        margin: 0 15px;
        margin-top: 20px;
        @include text-style(700, 18px, 'Roboto', 36px, #212121, left);
    }

    &__attribute {
        margin: 0 15px;
        margin-bottom: 20px;
        @include text-style(400, 16px, 'Roboto', 30px, #757575, left);
    }

    &:hover,
    &__description:hover {
        opacity: 1;
        transition: 250ms linear;
    }
}