.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;

    &__head {
        margin-top: 60px;
        @include text-style(700, 24px, 'Raleway', 100%, #2196F3, center);
        letter-spacing: 0.6px;

        &--span {
            color: #000000;
        }

        &__email {
            margin: 0;
            margin-top: 8px;
            @include text-style(400, 14px, 'Roboto', 24px, #FFFFFF, center);
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.3px;
        }
    }

    // &__head {
    //     margin: 0;
    //     margin-bottom: 20px;
    //     @include text-style(700, 24px, 'Raleway', 100%, #2196F3, center);
    //     font-family: 'Raleway', sans-serif;
    //     letter-spacing: 0.3px;
    //     cursor: pointer;

    //     &--studio {
    //         color: #000000;
    //     }
    // }

    // &__location,
    // &__email,
    // &__tel {
    //     margin: 0;
    //     margin-top: 8px;
    //     @include text-style(400, 14px, 'Roboto', 24px, #FFFFFF, center);
    //     font-family: 'Roboto', sans-serif;
    //     letter-spacing: 0.3px;
    // }

    // &__email,
    // &__tel {
    //     color: #FFFFFF99;
    //     cursor: pointer;
    //     transition: 250ms linear;

    //     &:hover,
    //     &:active {
    //         transition: 250ms linear;
    //         color: #2196F3;

    //     }
    // }
}