* {
  max-width: 100%;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

body,
html {
  scroll-behavior: smooth;
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

button,
a {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}


button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}